body {
  font-family: Lato, Helvetica, sans-serif;
  color: #69665e;
  font-size: 12pt;
  background-color: #202529;
  background-repeat: no-repeat;
}

main a:link,
main a:visited {
  color: #fff;
  border-bottom: 1px solid #d48500;
}
main a:hover {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
main > .container-fluid > .container:not(.box) {
  padding-left: 0;
  padding-right: 0;
}

h3 a,
h3 a:visited {
  border-bottom: none;
  text-decoration: none;
}

pre {
  color: #69665e;
}

p.lead {
  font-size: 1.35rem;
}

a.btn {
  margin: 0px 2px 6px 0px;
}

h1 {
  margin: 1.4em 0 1em 0;
  color: #d48500;
  font-size: 36pt;
  font-weight: 300;
}

h2 {
  margin: 1.4em 0 1em 0;
  color: #d48500;
  font-size: 22pt;
  font-weight: 300;
}

main h3,
main h3 a,
main h3 a:visited {
  margin: 1.4em 0 0.6em 0;
  color: #d48500 !important;
  font-size: 16pt;
  font-weight: 300;
  border-bottom: none !important;
}

h4 {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

h5,
h6 {
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

li {
  margin-bottom: 0.5rem;
}

.btn {
  white-space: nowrap;
}
.btn.btn-secondary {
  align-items: center;
  background-color: #545b62;
  border-color: transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
    0 2px 6px rgba(0, 0, 0, 0.2);
  color: #f4f4f5;
  display: inline-flex;
  font-family: inherit;
  padding: 0.4em 1em;
}
.btn-icon {
  margin: 0 0.4em;
  width: 1em;
}
.btn-icon:first-child {
  margin-left: 0;
}
.btn-icon:last-child {
  margin-right: 0;
}

.main-nav {
  transition-property: background-color, filter;
  transition-duration: 0.25s;
}
.main-nav.is-expanded,
.main-nav.is-sticky {
  background-color: #202529;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.main-nav .linkedin {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-brand img {
  max-height: 36px;
}
.navbar-nav .nav-item {
  margin-bottom: 0;
  white-space: nowrap;
}
.navbar-nav .dropdown-menu {
  background: #4b4f55;
  border: 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.navbar-nav .dropdown-item {
  color: rgba(255, 255, 255, 0.75);
  padding: 0.5rem 1rem;
}
.navbar-nav .dropdown-item:active,
.navbar-nav .dropdown-item:focus,
.navbar-nav .dropdown-item:hover,
.navbar-nav .dropdown-item.active {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 1);
}

.post-content {
  max-width: 820px;
}

table {
  margin: 1.6em 1.6em 1.6em 0.2em;
  padding-left: 10px;
}

table td {
  padding: 8px 20px 8px 20px;
  min-width: 200px;
}

.bg-dark tr.even td,
.bg-dark2 tr.even td {
  background-color: #4b4f55;
}

.bg-dark tr.odd td,
.bg-dark2 tr.odd td {
  background-color: #2c3438;
}

.bg-light tr.even td {
  background-color: #eae5db;
}

.bg-light tr.odd td {
  background-color: #bab5ab;
}

.header {
  min-height: 80vh;
  text-align: center;
  padding-top: 25vh;
  font-style: italic;
}

.header h1 {
  margin: 0.3em;
}

.header h3 {
  margin: 0;
  color: #f5f5f5;
  text-transform: none;
}

.header2 {
  min-height: 22vh;
  text-align: center;
  padding-top: 0vh;
  font-style: italic;
  margin-bottom: -4vh;
}

.footer.not-slanted {
  padding-bottom: 2rem;
  position: relative;
  z-index: 1;
}
.footer img,
.funded img {
  max-height: 70px;
}

.highlights img {
  max-height: 100px;
  width: auto;
  margin: 1.3em;
  filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.2));
}

div.boxes div {
  margin: 10px;
  padding: 10px 20px 60px 20px;
  text-align: center;
  background-color: #2c3438;
  filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.2));
}

div.partner-logo {
  background-color: #fff !important;
}

div.boxes h3 {
  min-height: 2.3em;
}

div.boxes a.btn {
  width: 200px;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -100px;
}

div.boxes div h3 a:hover {
  text-decoration: underline;
}

.phasecols {
  margin-top: 40px;
  margin-bottom: 40px;
}

div.phasecols  div {
  padding-top: 20px;
  padding-bottom: 60px;
  text-align: center;
}

div.phasecols div:nth-child(1) {background: #81898F}
div.phasecols div:nth-child(2) {background: #6C757D}
div.phasecols div:nth-child(3) {background: #5B6069}
div.phasecols div:nth-child(4) {background: #4B5055}

div.phasecols img {
  max-height: 100px;
  width: auto;
  margin: 1.3em;
  filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.2));
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bio {
  margin: 40px 20px 40px 0;
  padding-left: 20px;
  border-left: 4px solid #4b4f55;
  max-width: 500px;
  font-style: italic;
  display: block;
  float: left;
}

.bio img {
  max-height: 130px;
  margin: 10px 20px 10px 10px;
}

.team .bio {
  max-width: 330px;
  border-left: none;
  border-right: 4px solid #4b4f55;
}

.team .bio:nth-of-type(3n) {
  border-right: none;
}

.team .bio img {
  max-height: 200px;
  margin: 10px 20px 10px 10px;
}

.blog-pagination {
  margin-top: 20px;
  clear: both;
}

img.dropshadow {
  filter: drop-shadow(0px 7px 7px rgba(0, 0, 0, 0.2));
}

.box {
  -webkit-box-shadow: 5px 5px 14px 0px rgba(7, 6, 6, 0.4);
  -moz-box-shadow: 5px 5px 14px 0px rgba(7, 6, 6, 0.4);
  box-shadow: 5px 5px 14px 0px rgba(7, 6, 6, 0.4);
  padding: 40px;
  width: 60vw;
  margin: -180px auto 70px auto;
  background: rgb(70, 77, 84);
  background: linear-gradient(
    -180deg,
    rgba(70, 77, 84, 1) 0%,
    rgba(52, 58, 64, 1) 85%
  );
}

.below {
  margin-top: 70px;
  padding-left: 70px;
  padding-right: 70px;
  width: auto;
}

.bg-img {
  min-height: 100vh;
  text-align: center;
  margin-top: -20vh;
  padding-top: 50vh;
  background-size: cover;
}

.bg-dark,
pre {
  background: rgb(42, 48, 53);
  background: linear-gradient(
    90deg,
    rgba(42, 48, 53, 1) 0%,
    rgba(52, 58, 64, 1) 50%
  );
  color: #f5f5f5;
}

pre {
  padding: 20px;
}

.bg-dark2 {
  /*  background-color: #3e454c !important; */
  color: #f5f5f5;
  background: linear-gradient(
    -180deg,
    rgba(70, 77, 84, 1) 0%,
    rgba(52, 58, 64, 1) 85%
  );
}

.bg-dark3 {
  background-color: #202529 !important;
  color: #f5f5f5;
}

.bg-light {
  background-color: #dad5cb !important;
  color: #69665e;
}

.bg-dark h1,
bg-dark2 h1,
#header .container h1 {
  color: #e9ae4a;
  font-weight: normal;
}

.bg-light h1 {
  font-weight: normal;
}

.slanted {
  margin-top: -60px;
  margin-bottom: 40px;
  padding-top: 140px;
  padding-bottom: 140px;
  width: 100%;
  /*   skew adds a 4.76 degree slope and the translateY equation is based on the fact that a 4.76 degree slope has a gradient of 1:12 */
  -webkit-transform: skew(0, -4.76deg) translateY(calc(50vw / -12));
  -ms-transform: skew(0, -4.76deg) translateY(calc(50vw / -12));
  transform: skew(0, -4.76deg) translateY(calc(50vw / -12));
  min-height: 50vh;
}

.slanted .container {
  -webkit-transform: skew(0, +4.76deg) translateY(calc(50vw / -12));
  -ms-transform: skew(0, +4.76deg) translateY(calc(50vw / -12));
  transform: skew(0, +4.76deg) translateY(calc(50vw / -12));
}

.slanted2 {
  margin-top: -60px;
  margin-bottom: 40px;
  padding-top: 140px;
  padding-bottom: 140px;
  width: 100%;
  /*   skew adds a 4.76 degree slope and the translateY equation is based on the fact that a 4.76 degree slope has a gradient of 1:12 */
  -webkit-transform: skew(0, +4.76deg) translateY(calc(50vw / -12));
  -ms-transform: skew(0, +4.76deg) translateY(calc(50vw / -12));
  transform: skew(0, +4.76deg) translateY(calc(50vw / -12));
  min-height: 50vh;
}

.slanted2 .container {
  -webkit-transform: skew(0, -4.76deg) translateY(calc(50vw / -12));
  -ms-transform: skew(0, -4.76deg) translateY(calc(50vw / -12));
  transform: skew(0, -4.76deg) translateY(calc(50vw / -12));
}

.uppercase {
  text-transform: uppercase;
}

.tag {
  text-align: center;
  margin-top: 30px;
  margin-bottom: -10px;
  color: #d48500;
  font-size: 1.2rem;
  font-weight: bold;
}

.video-iframe {
  margin: 1.4rem auto;
  padding-bottom: 10px;
}

.video-iframe > div {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}

.video-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.prev-next-wrapper {
  margin-top: -15vw;
  position: relative;
  z-index: 1;
}
.prev-next {
  background: #202529;
  display: flex;
  flex-direction: column;
  position: relative;
}
.prev-next-link {
  align-items: center;
  border-color: #4b4f55 !important;
  border-style: solid;
  border-width: 2px 0 !important;
  color: #d48500 !important;
  padding: 1.5rem 15px;
  position: relative;
}
.prev-next-link + .prev-next-link {
  border-left-width: 0 !important;
}
.prev-next-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.prev-next-label {
  align-items: center;
  color: #d4d4d4;
  display: inline-flex;
  text-transform: uppercase;
}
.prev-next-title {
  display: block;
  font-size: 1.2rem;
}
.prev-next-arrow {
  flex-shrink: 0;
  height: 1em;
  width: 1em;
}
.prev-next-link-next {
  margin: -2px 0 0;
}
.prev-next-link-prev .prev-next-arrow {
  margin: 0 0.5rem 0 0;
}
.prev-next-link-next .prev-next-arrow {
  margin: 0 0 0 0.5rem;
}

@media (max-width: 992px) {
  .main-nav .linkedin {
    display: none;
  }
  .navbar-nav .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: none;
    margin-top: 0;
  }

  .header {
    min-height: 75vh;
    padding-top: 20vh;
  }

  .header h1 {
    font-size: 28pt;
  }

  .box {
    width: 85vw;
    margin-top: -30vh;
  }

  .below {
    margin-top: 70px;
    width: auto;
  }

  .team .bio:nth-of-type(3n) {
    border-right: none;
  }

  .team .bio:nth-of-type(2n) {
    border-right: none;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 18pt;
  }

  .team .bio {
    border-right: none;
  }

  table {
    margin: 0.6em 0.6em 0.6em 0.2em;
    padding-left: 8px;
  }

  table td {
    padding: 6px 10px 6px 10px;
    min-width: 150px;
  }

  img {
    max-width: 100%;
  }
  .header {
    min-height: 85vh;
    padding-top: 10vh;
  }
  .header h1 {
    font-size: 20pt;
    margin-top: 4vh;
  }

  .header h3 {
    font-size: 14pt;
  }

  .box {
    width: 90vw;
    margin-top: -48vh;
    padding: 10px;
  }

  .below {
    margin-top: 70px;
    width: auto;
    padding: 30px;
  }

  .footer img,
  .funded img {
    max-height: 36px;
    max-width: 96px;
  }
  .slanted,
  .slanted2 {
    margin-top: -30px;
    margin-bottom: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 768px) {
  .footer.not-slanted {
    padding-bottom: 4rem;
    padding-top: 2rem;
  }
  .prev-next {
    flex-direction: row;
    margin-top: 5vw;
  }
  .prev-next-title {
    display: block;
    font-size: 1.35rem;
  }
  .prev-next-link {
    flex: 1;
    padding: 2rem 3rem;
  }
  .prev-next-link + .prev-next-link {
    border-left-width: 2px !important;
  }
  .prev-next-link-prev {
    border-width: 2px 2px 2px 0;
    justify-content: flex-end;
    margin: 0 -1px 0 0;
    text-align: right;
  }
  .prev-next-link-next {
    border-width: 2px 0 2px 2px;
    margin: 0 0 0 -1px;
  }
}
