html {
  font-size: 16px;
}
body {
  background-color: #18181b;
  color: #f4f4f5;
  font-size: 0.9rem;
  line-height: 1.6;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e9ae4a;
  margin-bottom: 0.6em;
}
h3 {
  font-size: 1.5rem;
}
a {
  color: #e9ae4a;
}
a:hover {
  color: #e9ae4a;
  text-decoration: underline;
}
ul {
  padding-left: 1em;
}
figure {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.lead {
  font-size: 1.1rem;
}
.btn {
  white-space: nowrap;
}
.btn.btn-secondary {
  align-items: center;
  background-color: #27272a;
  border-color: transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
    0 2px 6px rgba(0, 0, 0, 0.2);
  color: #f4f4f5;
  display: inline-flex;
  font-family: inherit;
  padding: 0.4em 1em;
}
.btn-icon {
  margin: 0 0.4em;
  width: 1em;
}
.btn-icon:first-child {
  margin-left: 0;
}
.btn-icon:last-child {
  margin-right: 0;
}
.page {
  position: relative;
}
.page::after {
  background-image: linear-gradient(to top, #18181bff, #18181b00),
    url("/img/use-case-bg.svg");
  content: "";
  display: block;
  height: 1000px;
  max-height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.nav {
  background: linear-gradient(to bottom, #18181bff 50%, #18181b00);
  margin-bottom: 1rem;
  padding: 1rem 0;
}
.nav .logo {
  display: block;
  max-width: 220px;
}
.nav .dropdown-menu {
  background-color: #27272a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
    0 2px 6px rgba(0, 0, 0, 0.2);
  left: auto;
  right: 0;
}
.nav .dropdown-header {
  color: #a3a3a3;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 0.3rem 1rem;
  text-transform: uppercase;
}
.nav .dropdown-divider {
  border-color: #525252;
}
.nav .dropdown-item {
  color: #f4f4f5;
  padding: 0.3rem 1rem;
}
.nav .dropdown-item:active,
.nav .dropdown-item:focus,
.nav .dropdown-item:hover {
  background-color: #3f3f46;
}
.page-title > small {
  color: #d4d4d4;
  display: block;
  font-size: 1.4rem;
  margin-top: 0.25rem;
}
.block {
  margin-bottom: 2rem;
}
.block h3,
.block h4,
.block h5,
.block h6 {
  margin: 2.5rem 0 1rem;  
}
.block hr {
  background-color: #525252;
  margin: 3rem 0;
}
.block > :first-child,
.block [class*="col-"] > :first-child {
  margin-top: 0;
}
.block > :last-child,
.block [class*="col-"] > :last-child {
  margin-bottom: 0;
}
.block [class*="col-"] + [class*="col-"] {
  margin-top: 1rem;
}
.quote {
  background-color: #27272a;
  border-radius: 1.2rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
    0 6px 36px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 1.5rem 1.5rem calc(1.5rem + 4px);
  position: relative;
}
.quote::before {
  background: linear-gradient(to right, #e9ae4a, #b45309);
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  right: 0;
}
.quote blockquote::before,
.quote blockquote::after {
  color: #a1a1aa;
  font-size: 1.8em;
  line-height: 0;
  position: relative;
  vertical-align: middle;
}
.quote blockquote::before {
  content: "\201C";
}
.quote blockquote::after {
  content: "\201D";
}
.quote figcaption {
  color: #a1a1aa;
  font-size: 0.8em;
}
.screenshot {
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid #525252;
  border-radius: 1rem;
  padding: 0.5rem;
}
.screenshot img {
  border-radius: 0.5rem;
  max-width: 100%;
}
.use-cases-title {
  margin: 2rem 0 1rem;
}
.use-cases {
  border: 1px solid #525252;
  border-radius: 0.5rem;
  margin: 1rem 0;
  overflow: hidden;
}
.use-cases > .use-case + .use-case {
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-width: 1px 0 0;
  margin-top: -1px;
}
.use-case {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.02);
  color: inherit;
  display: flex;
  padding: 0.75rem 1rem;
}
.use-case > h4 {
  color: #d4d4d4;
  flex: 1;
  font-size: 1rem;
  margin: 0 1rem 0 0;
}
.use-case > .btn {
  font-size: 0.9rem;
}
.use-case:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: inherit;
  text-decoration: none;
}
.use-case:hover > h4 {
  color: #e9ae4a;
}
.content {
  margin-bottom: 3rem;
}
.prev-next {
  display: flex;
  flex-direction: column;
}
.prev-next-link {
  align-items: center;
  border: 2px solid #525252;
  border-width: 2px 0;
  padding: 1.5rem;
  position: relative;
}
.prev-next-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.prev-next-label {
  align-items: center;
  color: #d4d4d4;
  display: inline-flex;
  text-transform: uppercase;
}
.prev-next-title {
  display: block;
  font-size: 1.2rem;
}
.prev-next-arrow {
  flex-shrink: 0;
  height: 1em;
  width: 1em;
}
.prev-next-link-next {
  margin: -2px 0 0;
}
.prev-next-link-prev .prev-next-arrow {
  margin: 0 0.5rem 0 0;
}
.prev-next-link-next .prev-next-arrow {
  margin: 0 0 0 0.5rem;
}
.contact {
  padding: 3rem 0 4rem;
}
.contact h3 {
  font-size: 1.4rem;
  margin: 0.8rem 0;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 2em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1em;
  }
  .nav {
    padding: 2rem 0;
  }
  .page-title {
    font-size: 2.6rem;
  }
  .content {
    margin-bottom: 6rem;
  }
  .block {
    border: 2px solid #525252;
    margin-bottom: 0;
    padding-bottom: 3rem;
    padding-top: 3rem;
    position: relative;
  }
  .block::before {
    background-color: #18181b;
    border: 2px solid #525252;
    content: "";
    display: none;
    height: 3rem;
    position: absolute;
    transform: rotate(45deg);
    width: 3rem;
  }
  .block:nth-child(odd) {
    border-color: #525252 #525252 #525252 transparent;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
    margin-left: 4rem;
    padding-right: 4rem;
  }
  .block:nth-child(odd)::before {
    left: calc(100% - 1.5rem + 1px);
  }
  .block:nth-child(even) {
    border-color: #525252 transparent #525252 #525252;
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
    margin-right: 4rem;
    padding-left: 4rem;
  }
  .block:nth-child(even)::before {
    right: calc(100% - 1.5rem + 1px);
  }
  .block:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
  }
  .block:first-child::before {
    display: block;
    top: 0;
  }
  .block:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
    padding-bottom: 4rem;
  }
  .block:last-child::before {
    bottom: 0;
    display: block;
  }
  .block [class*="col-"] + [class*="col-"] {
    margin-top: 0;
  }
  .block + .block {
    margin-top: -2px;
  }
  .quote {
    padding: 2rem 2rem calc(2rem + 4px);
  }
  .screenshot {
    padding: 1rem;
  }
  .prev-next {
    flex-direction: row;
  }
  .prev-next-title {
    display: block;
    font-size: 1.4rem;
  }
  .prev-next-link {
    flex: 1;
    padding: 2rem 3rem;
  }
  .prev-next-link-prev {
    border-width: 2px 2px 2px 0;
    justify-content: flex-end;
    margin: 0 -1px 0 0;
    text-align: right;
  }
  .prev-next-link-next {
    border-width: 2px 0 2px 2px;
    margin: 0 0 0 -1px;
  }
  .contact {
    padding: 4rem 0;
  }
}
