---
layout: default
---

<div class="main">
  <div class="container-md">
    <div class="content">
      <div class="block text-center">
        <h1>Open and scalable NDR stack</h1>
        <p class="lead">Easy to scale, simple to deploy</p>
      </div>
      <div class="block">
        <h2>The company</h2>
        <p class="lead">
          SensorFleet is a European NDR solution provider with customers and local
          representation also in the APAC region. With over 300 Sensors and 1000
          Instruments deployed globally we are protecting the IT, OT and SDN
          networks of a wide range of industries and government agencies.
        </p>
        <div class="box-grid box-grid-3-cols mt-4">
          <div class="box px-4 py-3 text-center">
            <h3>100+</h3>
            <img
              class="object-contain"
              style="height: 80px"
              src="img/fm.svg"
              alt="Instruments"
            />
            <p>End-user organizations</p>
          </div>
          <div class="box px-4 py-3 text-center">
            <h3>300+</h3>
            <img
              class="object-contain"
              style="height: 80px"
              src="img/sensor.svg"
              alt="Sensor"
            />
            <p>Sensors delivered</p>
          </div>
          <div class="box px-4 py-3 text-center">
            <h3>1000+</h3>
            <img
              class="object-contain"
              style="height: 80px"
              src="img/instruments.svg"
              alt="Fleet Management"
            />
            <p>Instruments delivered</p>
          </div>
        </div>
      </div>
      <div class="block">
        <h2>Open platform</h2>
        <p class="lead">
          SensorFleet solution implements an Open NDR stack and enables users to
          run multiple Network Detection and Response (NDR) tools on a single
          platform as Instruments
        </p>
        <div class="mt-4">
          <div class="align-items-center d-flex mb-3">
            <img
              class="object-contain"
              style="max-width: 80px"
              src="img/ecosystem.svg"
              alt="Sensor"
            />
            <div class="ml-4 ml-lg-5">
              <h3 class="mt-0">Modular solution</h3>
              <p>
                Modular solution is cost efficient and quick to deploy and
                expand, whether starting from scratch or filling the gaps on
                existing security controls
              </p>
            </div>
          </div>
          <div class="align-items-center d-flex mb-3">
            <img
              class="object-contain"
              style="max-width: 80px"
              src="img/instrument.svg"
              alt="Sensor"
            />
            <div class="ml-4 ml-lg-5">
              <h3 class="mt-0">Flexible deployment</h3>
              <p>
                Deployment models enable operations by SensorFleet, the end-user
                or their SOC / IT partner
              </p>
            </div>
          </div>
          <div class="align-items-center d-flex mb-3">
            <img
              class="object-contain"
              style="max-width: 80px"
              src="img/instrument2.svg"
              alt="Sensor"
            />
            <div class="ml-4 ml-lg-5">
              <h3 class="mt-0">No vendor lock</h3>
              <p>
                Open NDR stack minimizes the vendor lock. Makes agile and
                continuous improvement of security easy
              </p>
            </div>
          </div>
          <div class="align-items-center d-flex">
            <img
              class="object-contain"
              style="max-width: 80px"
              src="img/instrument3.svg"
              alt="Sensor"
            />
            <div class="ml-4 ml-lg-5">
              <h3 class="mt-0">Designed for scalability</h3>
              <p>
                Creates a common baseline security monitoring across IT, OT and
                Cloud with the seamless integration interfaces to other
                solutions like SIEM and Threat Intel platforms
              </p>
            </div>
          </div>
          <p>
            <a class="btn btn-secondary" href="/solution/">
              <span>Read more</span>
              <span class="btn-icon">{% include icon-arrow-right.html %}</span>
            </a>
          </p>
        </div>
      </div>
      <div class="block">
        <h3>Cyber security made easy – SensorFleet Cyber Capability fabric described in a video</h3>
        <a class="btn btn-secondary" target="_blank" href="https://youtu.be/kV6b3riR9dk">Watch on YouTube</a>
      </div>
      <div class="block">
        <h3>Latest</h3>
        <div class="nav-list">
          {% for post in site.posts limit: 5 %}
          <a class="nav-list-item" href="{{ post.url }}">
            <div>
              <h3 class="nav-list-item-title">{{ post.title }}</h3>
              <div class="nav-list-item-meta mt-1">
                {{ post.date | date:"%d %b %Y" }} by {{
                site.data.staff[post.author].name }}
              </div>
            </div>
            <span class="btn btn-outline-light">Read more</span>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
