---
layout: frontpage
---

<div
  class="container-fluid bg-dark header"
  style="background-image: url('/img/bg.jpg');"
>
  <div class="container">
    <h1>Cyber security sensor solution</h1>
    <h3>Open. Fast. Scalable. Transparent.</h3>
  </div>
</div>

<div class="container-fluid bg-dark2 slanted2">
  <div class="container text-center box">
    <h3>Solution</h3>
    <p>
      SensorFleet solution is an open platform for deploying and managing the
      detection, protection and scanning capabilities. Need to run IDS at scale?
      Occasional traffic recording in different network segments? Bring clarity
      to fragmented cyber security tools and orchestrate capabilities as
      SensorFleet Instruments.
    </p>

    <p>
      <a class="btn btn-secondary" href="/solution/" role="button"
        >Read more &raquo;</a
      >
    </p>
  </div>

  <div class="container">
    <div class="row highlights">
      <div class="col-md-4 text-center">
        <h3>Instruments</h3>
        <img src="img/instruments.svg" alt="Instruments" />
        <p>Components dedicated to specific cyber security tasks</p>
      </div>

      <div class="col-md-4 text-center">
        <h3>Sensor</h3>
        <img src="img/sensor.svg" alt="Sensor" />
        <p>Platform for deploying and running the Instruments</p>
      </div>

      <div class="col-md-4 text-center">
        <h3>Fleet Management</h3>
        <img src="img/fm.svg" alt="Fleet Management" />
        <p>Enables you to manage Sensors in diverse network environments</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid slanted2 bg-light">
  <div class="container">
    <h1 class="mt-5">Open Platform</h1>
    <p class="lead">
      Cyber security tools landscape is fragmented. Each commercial tool comes
      with an unique deployment model. Open source offers great tools, but
      deployment and maintenance at scale is a challenge. New issues requiring
      quick reactions and innovative assessment tools emerge in accelerating
      pace. SensorFleet offers a platform for keeping your toolchest in order.
    </p>

    <div class="row">
      <div class="col-md-2 text-center">
        <img
          src="img/ecosystem.svg"
          alt="Sensor"
          class="dropshadow"
          style="height: 100px; margin-top: 2em;"
        />
      </div>
      <div class="col-md-8 ">
        <h3>Embrace the ecosystem</h3>
        <p>
          SensorFleet solution has been designed as an open platform for 3rd
          party Instruments. Utilize most suitable solutions, both from open
          source domain and commercial vendors.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 text-center">
        <img
          src="img/instrument.svg"
          alt="Sensor"
          class="dropshadow"
          style="height: 100px; margin-top: 2em;"
        />
      </div>
      <div class="col-md-8 ">
        <h3>Bring your own instruments</h3>
        <p>
          Sometimes Instruments you need aren't available from the market.
          SensorFleet solution enables customers to integrate their own tools.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 text-center">
        <img
          src="img/reaction-time.svg"
          alt="Sensor"
          class="dropshadow"
          style="height: 100px; margin-top: 2em;"
        />
      </div>
      <div class="col-md-8 ">
        <h3>Improve reaction time</h3>
        <p>
          Emerging threats call for new capabilities. With an open platform, end
          users can easily adopt and deploy new solutions.
        </p>
      </div>
    </div>
  </div>
</div>

<a name="in-action"></a>
<a name="datasheets"></a>

<div class="container-fluid bg-dark slanted2">
  <div class="container">
    <div class="row highlights">
      <div class="col-md-12 text-center">
        <h2>Instruments</h2>
        <p>
          More details of available instruments.
        </p>

        <p></p>
        {% for instrument in site.data.instruments %}
        <a href="instruments/{{ instrument[0] }}/" class="btn btn-secondary"
          >{{ instrument[1].name }} &raquo;</a
        >
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-dark2 slanted2">
  <div class="container">
    <h1>About us</h1>
    <div class="row">
      <div class="col-md-6 text-left">
        <p>
          Our team has a long experience in developing cyber security sensor
          technology for a national early warning system protecting the critical
          infrastructure in Finland. At the inception of SensorFleet in 2018, we
          set out to re-imagine cyber security monitoring.
        </p>

        <p>
          <a href="/about-us/" class="btn btn-secondary">Read more &raquo;</a>
        </p>

        <h3>Latest blog posts</h3>
        <ul>
          {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}"
              >{{ post.title }} - {{ post.date | date:"%d %b %Y" }} - {{
              site.data.staff[post.author].name }}</a
            >
            {% endfor %}
          </li>
        </ul>
      </div>
      <div class="col-md-6 text-left">
        <img
          src="img/staff/sensorfleet-team.jpg"
          alt="SensorFleet team"
          style="max-height: 400px;"
        />
      </div>
    </div>
  </div>
</div>
