---
layout: solution
title: Overview
description:
  SensorFleet solution forms a lightweight and distributed cyber capability
  fabric.
---

<!-- prettier-ignore -->
{% assign solution_pages = '' | split: '' %}
{% assign pages = site.html_pages | where: 'layout', 'solution' | sort: 'order' %}
{% for page in pages %}
{% unless page.name == 'index.html' %}
{% assign solution_pages = solution_pages | push: page %}
{% endunless %}
{% endfor %}

<div class="block">
  <div class="row align-items-center">
    <div class="col-lg-8">
      <h1 class="mb-4">First truly open NDR platform</h1>
      <p class="lead">
        SensorFleet solution is the first truly open NDR platform deployable
        across IT, OT and SDN networks. It offers both standalone use with the
        existing Instruments and unmatched options for easy expansion.
        SensorFleet security audited NDR has been designed for scalability with
        a predictable unit based licensing model.
      </p>
    </div>
    <div class="col-lg-4">
      <img
        src="../img/sensorfleet-fabric.png"
        alt=""
        class="img-fluid mt-4 mt-lg-0"
      />
    </div>
  </div>
</div>

<div class="block">
  <h2>SensorFleet open NDR</h2>
  <div class="row align-items-center">
    <div class="col-lg-6">
      <img class="img-fluid my-4" src="../img/solution.png" alt="solution" />
    </div>
    <div class="col-lg-6">
      <div class="">
        <h3>Fleet Management</h3>
        <p>
          Fleet Management controls the fleet of Sensors and provides one-click
          deployment of the Instruments. Events and other data collected by
          Sensors are transferred from Fleet Management to SIEM. Fleet
          Management also provides central control for all configuration aspects
          of Sensors and Instruments.
        </p>
      </div>
      <div class="">
        <h3>Sensor</h3>
        <p>
          Sensor hosts the Instruments and is deployed as a virtual or hardware
          appliance or natively in the cloud. 3rd party applications can be
          onboarded as Instruments or hosted as virtual appliances.
        </p>
      </div>
      <div class="">
        <h3>Instruments</h3>
        <p>
          Instruments are containerized applications dedicated for specific
          cyber security tasks and deployed on a Sensor platform. Our
          Instruments provide comprehensive coverage for:
        </p>
        <div>
          <ul>
            <li>Exposure Monitoring</li>
            <li>Attack Detection</li>
            <li>Forensic Data Collection</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <h2>From open NDR to cyber capability fabric</h2>
  <div class="row align-items-center">
    <div class="col-lg-6">
      <h3>Change management made easy</h3>
      <p>
        Layered architecture for detection, security operations enablement and
        security operations eliminates vertical silos. Changes are local with
        easy addition and removal of individual products.
      </p>
      <h3>Standard workflows</h3>
      <p>
        Security operations can work with standard tools, such as SIEM,
        regardless of NDR products used. Vendor dashboards are only needed for
        special cases, such as detailed incident investigation.
      </p>
      <h3>Connect external data sources</h3>
      <p>
        Open integration interfaces enable collection of data from any source.
        Locally collected data is passed to security operations through common
        fabric.
      </p>
      <h3>Complement fabric with 3rd party tools</h3>
      <p>
        Solution enables hosting of any 3rd party products either as SensorFleet
        native Instruments or virtual appliances.
      </p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid my-4" src="../img/open-ndr.png" alt="Open NDR" />
    </div>
  </div>
</div>

<div class="block">
  <h2>Operational environments</h2>
  <div class="box-grid">
    {% for page in solution_pages %}
    <a class="box p-4" href="{{ page.url }}">
      <h3>{{ page.title }}</h3>
      <p>{{ page.description }}</p>
      <span class="btn btn-secondary">
        <span>Read more</span>
        <svg
          class="btn-icon"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M14 5l7 7m0 0l-7 7m7-7H3"
          />
        </svg>
      </span>
    </a>
    {% endfor %}
  </div>
</div>
