<div id="contact" class="row">
  <div class="col-md-4">
    <h2>Contact & Locations</h2>
    <p>contact@sensorfleet.com</p>
    <p>
      <a href="/privacy-policy">Privacy policy &raquo;</a>
    </p>
    <p>
      <i> &copy; SensorFleet Oy<br />Business ID: 2884312-2 </i>
    </p>
  </div>
  <div class="col-md-4">
    <h3>Oulu</h3>
    <p>
      SensorFleet Oy<br />
      Teknologiantie 11<br />
      90590 Oulu<br />
      Finland
    </p>
    <p>
      Sami Petäjäsoja <br />
      +358 40 503 0745
    </p>
  </div>
</div>
