<div class="container-fluid footer bg-dark3 slanted2">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-left">
        <h3>Contact us</h3>
        <p>
          contact@sensorfleet.com
        </p>

        <p>
          Teknologiantie 18<br />
          90590 Oulu
        </p>

        <p>
          Lapinlahdenkatu 16<br />
          Building 15<br />
          00180 Helsinki
        </p>

        <p>
          <i> &copy; SensorFleet Oy<br />Business ID: 2884312-2 </i>
        </p>
        <p>
          <a href="/privacy-policy">Privacy policy &raquo;</a>
        </p>
      </div>
      <div class="col-md-8 text-left">
        <h3>Funded by</h3>
        <p>
          <img
            src="/img/leverage-eu-white.png"
            alt="Leverage from the EU"
            style="margin-right: 20px;"
          />
          <img src="/img/eu-white.png" alt="EU" />
        </p>
        <p>
          <small>
            <a href="/eu.html">Vesihiisi</a> project develops an open and
            scalable platform, SensorFleet, for network level cyber security
            monitoring. Platform enables emergence of an open ecosystem for
            development and distribution of cyber security monitoring
            capabilities. SensorFleet prototype will be further developed to
            production level maturity in this project.
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
