<a name="contact"></a>
<div class="container-fluid footer bg-dark3 slanted2">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-left">
        <h3>Contact us</h3>
        <p>contact@sensorfleet.com</p>
        <p>
          <a href="/privacy-policy">Privacy policy &raquo;</a>
        </p>
        <p>
          <i> &copy; SensorFleet Oy<br />Business ID: 2884312-2 </i>
        </p>
      </div>

      <div class="col-md-4">
        <h3>Oulu</h3>
        <p>
          SensorFleet Oy<br />
          c/o Kielo Growth Oy<br />
          Teknologiantie 18<br />
          90590 Oulu<br />
          Finland
        </p>
        <p>
          Sami Petäjäsoja <br />
          +358 40 5030745
        </p>
      </div>

      <div class="col-md-4">
        <h3>Helsinki</h3>
        <p>
          SensorFleet Oy<br />
          Lapinlahdenkatu 16<br />
          Building 15<br />
          00180 Helsinki<br />
          Finland
        </p>
        <p>
          Simo Mäkipaja <br />
          +358 40 583 3999
        </p>
      </div>
    </div>
  </div>
</div>
