<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-157735622-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "UA-157735622-1", { anonymize_ip: true });
  </script>

  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  {% if page.layout == "post" %}
  <meta content="article" property="og:type">
  {% else %}
  <meta content="website" property="og:type">
  {% endif %}
  {% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
  {% else %}
  <meta content="{{ site.description }}" property="og:description">
  {% endif %}
  {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}
  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta name="publish_date" property="og:publish_date" content="{{ page.date | date_to_xmlschema }}">
  {% endif %}
  {% if page.author %}
  <meta content="{{ site.data.staff[page.author].name }}" property="article:author">
  {% endif %}
  {% if page.og_image %}
  <meta property="og:image" content="{{ site.url }}{{ page.og_image }}" />
  {% endif %}
  {% if page.title %}
  <meta property="og:title" content="{{ page.title }} - SensorFleet" />
  <title>{{ page.title }} - SensorFleet</title>
  {% else %}
  <meta property="og:title" content="SensorFleet" />
  <title>SensorFleet</title>
  {% endif %}
  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% else %}
  <meta
    name="description"
    content="Open and scalable cyber security sensor platform."
  />
  {% endif %}

  <!-- Bootstrap core CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <!-- Custom styles -->
  <link href="/css/custom.css" rel="stylesheet" />
  <link href="/css/showhide.css" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Lato:300,700"
    rel="stylesheet"
    type="text/css"
  />
  {% if page.layout == "use-case" %}
    <link href="/css/use-case.css" rel="stylesheet" />
  {% endif %}
</head>
