<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>SensorFleet</title>

  <!-- Bootstrap core CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <!-- Custom styles -->
  <link href="/css/custom.css" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Lato:300,700"
    rel="stylesheet"
    type="text/css"
  />
</head>
