<div class="container-md">
  <nav class="navbar navbar-expand-lg navbar-dark px-0">
    <a class="navbar-brand" href="/">
      <img src="/img/sensorfleet-white2.png" alt="SensorFleet" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-collapse"
      aria-controls="navbar-collapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- prettier-ignore -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.navigation %}
          {% if item.link == '/solution/' %}
            <li class="nav-item dropdown">
              <a
                id="solution-dropdown"
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-expanded="{% if solution_dropdown %}true{% else %}false{% endif %}"
                >{{ item.name }}</a>
              <div class="dropdown-menu" aria-labelledby="solution-dropdown">
                <a class="dropdown-item" href="/solution/">Overview</a>
                <a class="dropdown-item" href="/use-cases/">Use cases</a>
                <a class="dropdown-item" href="/instruments/">Instruments</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item {% if page.url == item.link %}active{% endif %}">
              <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li class="nav-item align-items-center d-lg-flex d-none ml-lg-2">
          {% include linkedin.html %}
        </li>
      </ul>
    </div>
  </nav>
</div>
