<div class="prev-next">
  <a
    class="prev-next-link prev-next-link-prev"
    href="{{ include.prev_page_url }}"
  >
    <span class="prev-next-label">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="prev-next-arrow"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10 19l-7-7m0 0l7-7m-7 7h18"
        />
      </svg>
      <span>{{ include.prev_page_label }}</span>
    </span>
    <span class="prev-next-title">{{ include.prev_page_title }}</span>
  </a>
  <a
    class="prev-next-link prev-next-link-next"
    href="{{ include.next_page_url }}"
  >
    <span class="prev-next-label">
      <span>{{ include.next_page_label }}</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="prev-next-arrow"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M14 5l7 7m0 0l-7 7m7-7H3"
        />
      </svg>
    </span>
    <span class="prev-next-title">{{ include.next_page_title }}</span>
  </a>
</div>
