---
layout: instrument
title: Instruments
description:
  Workhorses for the various cyber security related tasks, like detection,
  traffic capture, asset tracking and more.
---

<div class="block">
  <h1>Instruments</h1>
  <p class="lead">
    Workhorses for the various cyber security related tasks, like detection,
    traffic capture, asset tracking and more.
  </p>
</div>

<div class="block">
  {% for group in site.data.instruments.groups %}
    <h2>{{ group.name }}</h2>
    <div class="box-grid">
      {% for instrument in group.instruments %}
        {% assign name = site.data.instruments[instrument].name %}
        {% assign description = site.data.instruments[instrument].description %}
        <a class="box p-4" href="{{ instrument }}/">
          <h3>{{ name }}</h3>
          <p>{{ description }}</p>
          <span class="btn btn-secondary">
            <span>Read more</span>
            <span class="btn-icon">{% include icon-arrow-right.html %}</span>
          </span>
        </a>
      {% endfor %}
    </div>
  {% endfor %}
</div>
