---
layout: default
description:
  Workhorses for the various cyber security related tasks, like detection,
  traffic capture, asset tracking and more.
---

<h1>Instruments</h1>

<p class="lead">
  Workhorses for the various cyber security related tasks, like detection,
  traffic capture, asset tracking and more.
</p>

{% for group in site.data.instruments.groups %}
  {% if group.group == "exposure_monitoring" %}
    <h2>Exposure Monitoring</h2>
    <div class="row boxes">
      {% for instrument in group.instruments %}
        {% assign name = site.data.instruments[instrument].name %}
        {% assign description = site.data.instruments[instrument].description %}
        {% include instrument-card.html
            name=name
            description=description
            url=instrument
        %}
      {% endfor %}
    </div>
  {% endif %}

  {% if group.group == "attack_and_lateral_movement_detection" %}
    <h2>Attack And Lateral Movement Detection</h2>
    <div class="row boxes">
      {% for instrument in group.instruments %}
        {% assign name = site.data.instruments[instrument].name %}
        {% assign description = site.data.instruments[instrument].description %}
        {% include instrument-card.html
            name=name
            description=description
            url=instrument
        %}
      {% endfor %}
    </div>
  {% endif %}

  {% if group.group == "forensics_and_threat_hunting" %}
    <h2>Forensics And Threat Hunting</h2>
    <div class="row boxes">
      {% for instrument in group.instruments %}
        {% assign name = site.data.instruments[instrument].name %}
        {% assign description = site.data.instruments[instrument].description %}
        {% include instrument-card.html
            name=name
            description=description
            url=instrument
        %}
      {% endfor %}
    </div>
  {% endif %}

  {% if group.group == "special_purpose" %}
    <h2>Special Purpose</h2>
    <div class="row boxes">
      {% for instrument in group.instruments %}
        {% assign name = site.data.instruments[instrument].name %}
        {% assign description = site.data.instruments[instrument].description %}
        {% include instrument-card.html
            name=name
            description=description
            url=instrument
        %}
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}
