---
layout: use-case
title: Use cases
---

{% assign use_case_pages = '' | split: '' %}
{% assign pages = site.html_pages | where: "layout", "use-case" | sort: "title" %}
{% for page in pages %}
  {% unless page.name == 'index.html' %}
    {% assign use_case_pages = use_case_pages | push: page %}
  {% endunless %}
{% endfor %}

<div class="content">
  <div class="container">
    <div class="block">
      <h1 class="page-title text-lg-center">
        Cyber Capability Fabric <small>Use cases</small>
      </h1>
    </div>
    <div class="block">
      <h2>Unified platform</h2>
      <p class="lead">
        SensorFleet Cyber Capability Fabric enables deployment of the security
        controls across IT, Operational Technology (OT) and Cloud on a single,
        unified platform.
      </p>
      <figure class="screenshot">
        <img
          src="/img/fm-overview.png"
          alt="SensorFleet Fleet Manager overview"
        />
      </figure>
    </div>
    <div class="block">
      <h2>Use cases</h2>
      <p>
        SensorFleet use case series takes a look on how to apply currently
        available instruments to cover essential cyber security monitoring
        requirements. On a high level, use cases cover:
      </p>
      <div class="use-case-cards">
        {% for page in use_case_pages %} {% unless page.name == "index.html" %}
        <a class="use-case-card" href="{{ page.url }}">
          <div class="use-case-card-header">
            <h3>{{ page.title_long }}</h3>
          </div>
          <div class="use-case-card-body">
            <p>{{ page.excerpt }}</p>
          </div>
          <div class="use-case-card-footer">
            <span class="btn btn-secondary">
              <span>Read more</span>
              <svg
                class="btn-icon"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14 5l7 7m0 0l-7 7m7-7H3"
                />
              </svg>
            </span>
          </div>
        </a>
        {% endunless %} {% endfor %}
      </div>
    </div>
  </div>
</div>
