<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SensorFleet</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- Custom styles -->
    <link href="/new/css/custom.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
</head>
<body class="d-flex flex-column">
<header>
    <!-- Fixed navbar -->

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="navbar">
        <div id="mobilelogo">
            <a href="/new/index.html"><img src="/new/img/sensorfleet-white.png" alt="SensorFleet"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-center">
                <li class="nav-item active">
                    <a class="navbar-brand nav-link" href="/new/index.html">
                        <img src="/new/img/sensorfleet-white.png" alt="SensorFleet">
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/new/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new/solution-description/">Solution Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new/in-action/">In action</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new/datasheets/">Datasheets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new/our-approach/">Our Approach</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new/about-us/">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new/blog/">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new/contact/">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">

  <div class="container-fluid bg-dark header2">
    <div class="container">
    </div>
  </div>

  <div class="container-fluid bg-dark2 slanted2" style="margin-top: 30px; padding-top: 40px;">
    <div class="container">
        {{ content }}
    </div>
  </div>

  <a name="contact"></a>

  <div class="container-fluid footer bg-dark3 slanted2">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-left">

          <h3>Contact us</h3>
          <p>
            Sami Petäjäsoja<br>
            +358 40 5030745<br>
            contact@sensorfleet.com
          </p>
          <p><i>
            &copy; SensorFleet Oy<br>Business ID: 2884312-2
          </i></p>
          <p>
            <a href="/new/privacy-policy/">Privacy policy &raquo;</a>
          </p>

        </div>
        <div class="col-md-8 text-left">
          <H3>Funded by</h3>
          <p>
            <img src="/img/f-solutions.png" alt="F-Solutions"
                 style="max-height: 60px; margin-right: 0px;">
            <img src="/img/scan-abc.png" alt="Ääkköset Oy" style="margin-right: 6px;">
            <img src="/img/leverage-eu-white.png" alt="Leverage from the EU"
                 style="margin-right: 20px;">
            <img src="/img/eu-white.png" alt="EU">
          </p>
          <p><small>
            Vesihiisi project develops an open and scalable platform, SensorFleet, for network
            level cyber security
            monitoring. Platform enables emergence of an open ecosystem for development and
            distribution of cyber
            security monitoring capabilities. SensorFleet prototype will be further developed to
            production level
            maturity in this project.
          </small></p>
        </div>

      </div>
    </div>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="/new/js/custom.js"></script>
</body>
</html>
