---
layout: default
---

{% assign prev_page = page.previous %}
{% assign next_page = page.next %}

{% unless prev_page %}
  {% assign prev_page = site.posts | first %}
{% endunless %}

{% unless next_page %}
  {% assign next_page = site.posts | last %}
{% endunless %}

<div class="main">
  <div class="container-md">
    <div class="mb-3">
      {% include back-link.html url="/latest" text="Back to latest" %}
    </div>
    <div class="content">
      <h1>{{ page.title }}</h1>
      <p>Posted {{ page.date | date:"%d %b %Y" }}</p>
      {{ content }}
      <div class="align-items-center d-flex mt-4">
        {% assign author = site.data.staff[page.author] %}
        <img class="rounded-sm" style="max-width: 6rem;" src="{{ author.image }}" alt="{{ author.name }}" />
        <div class="ml-3 text-nowrap">
          {{ author.name }}, {{ author.position }}
          {% if author.linkedin%}
            <div>
              <a href="{{ author.linkedin }}" target="_new">LinkedIn &raquo;</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% include prev-next.html
  prev_page_label="Previous post"
  prev_page_title=prev_page.title
  prev_page_url=prev_page.url
  next_page_label="Next post"
  next_page_title=next_page.title
  next_page_url=next_page.url
%}
