---
layout: default-new
---

{% assign solution_pages = '' | split: '' %}
{% assign pages = site.html_pages | where: 'layout', 'solution' | sort: 'title' %}
{% for other in pages %}
  {% if other.name != 'index.html' %}
    {% assign solution_pages = solution_pages | push: other %}
  {% endif %}
{% endfor %}

{% assign prev_page = site.pages | where: "path", "instruments/index.html" | first %}
{% assign prev_page_label = "Read more" %}
{% assign next_page = site.pages | where: "path", "use-cases/index.html" | first %}
{% assign next_page_label = "Read more" %}

{% if page.path != "solution/index.html" %}
  {% assign prev_page_label = "Previous environment" %}
  {% assign next_page_label = "Next environment" %}
  {% for solution_page in solution_pages %}
    {% if solution_page.url == page.url %}
      {% assign current_index = forloop.index0 %}
      {% assign prev_index = current_index | minus: 1 %}
      {% assign next_index = current_index | plus: 1 %}
      {% assign prev_page = solution_pages[prev_index] %}
      {% assign next_page = solution_pages[next_index] %}
    {% endif %}
    {% unless prev_page %}
      {% assign prev_page = solution_pages | last %}
    {% endunless %}
    {% unless next_page %}
      {% assign next_page = solution_pages | first %}
    {% endunless %}
  {% endfor %}
{% endif %}

<div class="main">
  <div class="container-md">
    {% if page.path != 'solution/index.html' %}
      <div class="mb-2 mb-md-n2">
        {% include back-link.html url="/solution" text="Back to overview" %}
      </div>
    {% endif %}
    <div class="content">
      {{ content }}
      {% if page.name != 'index.html' %}
        <div class="block">
          <h2>Other operational environments</h2>
          <div class="nav-list">
            {% for solution_page in solution_pages %}
              {% if solution_page.url != page.url %}
                <a class="nav-list-item" href="{{ solution_page.url }}" title="{{ solution_page.title }}">
                  <h3 class="nav-list-item-title">{{ solution_page.title }}</h3>
                  <span class="btn btn-secondary" href="{{ solution_page.url }}">
                    <span>Read more</span>
                    <span class="btn-icon">{% include icon-arrow-right.html %}</span>
                  </span>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% include prev-next.html
  prev_page_label=prev_page_label
  prev_page_title=prev_page.title
  prev_page_url=prev_page.url
  next_page_label=next_page_label
  next_page_title=next_page.title
  next_page_url=next_page.url
%}
