---
layout: default-new
---

<!-- prettier-ignore -->
{% assign is_front_page = false %}
{% if page.name == 'index.html' %}
  {% assign is_front_page = true %}
{% endif %}

{% assign use_case_pages = '' | split: '' %}
{% assign pages = site.html_pages | where: 'layout', 'use-case' | sort: 'title' %}
{% for page in pages %}
  {% unless page.name == 'index.html' %}
    {% assign use_case_pages = use_case_pages | push: page %}
  {% endunless %}
{% endfor %}

{% assign attack_detection_pages = use_case_pages | where: 'category', 'attack-detection' %}
{% assign forensic_data_pages = use_case_pages | where: 'category', 'forensic-data' %}
{% assign integrity_monitoring_pages = use_case_pages | where: 'category', 'integrity-monitoring' %}
{% assign grouped_use_case_pages = attack_detection_pages | concat: forensic_data_pages | concat: integrity_monitoring_pages %}

{% assign prev_page = site.pages | where: "path", "solution/index.html" | first %}
{% assign prev_page_label = "Read more" %}
{% assign next_page = site.pages | where: "path", "instruments/index.html" | first %}
{% assign next_page_label = "Read more" %}

{% if page.name != "index.html" %}
  {% assign prev_page_label = "Previous use case" %}
  {% assign next_page_label = "Next use case" %}
  {% for use_case_page in grouped_use_case_pages %}
    {% if use_case_page.url == page.url %}
      {% assign current_index = forloop.index0 %}
      {% assign prev_index = current_index | minus: 1 %}
      {% assign next_index = current_index | plus: 1 %}
      {% assign prev_page = grouped_use_case_pages[prev_index] %}
      {% assign next_page = grouped_use_case_pages[next_index] %}
    {% endif %}
    {% unless prev_page %}
      {% assign prev_page = grouped_use_case_pages | last %}
    {% endunless %}
    {% unless next_page %}
      {% assign next_page = grouped_use_case_pages | first %}
    {% endunless %}
  {% endfor %}
{% endif %}

<div class="main">
  <div class="container-md">
    {% if page.name != 'index.html' %}
      <div class="mb-2 mb-md-n2 text-lg-center">
        {% include back-link.html url="/use-cases" text="Back to use cases" %}
      </div>
    {% endif %}
    <div class="content">
      {{ content }}
    </div>
  </div>
</div>
{% include prev-next.html
  prev_page_label=prev_page_label
  prev_page_title=prev_page.title
  prev_page_url=prev_page.url
  next_page_label=next_page_label
  next_page_title=next_page.title
  next_page_url=next_page.url
%}
